@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
/*-----------------body------------------*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ceb6ac;
}
.container{
    width: 80%;
    margin: 3% auto;
    display: flex;
    height: 623px;
    box-shadow: 0 12px 18px rgba(54, 176, 138, 0.005);
    border-radius: 6px;
    background: #fff;
}
.login-link, .signup-link{
    background-color: #ee4e2e;
    background-image: url('images/bg-shapes.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 30%;
    padding: 3%;
}
.signup-form-container, .login-form-container{
    width: 70%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-----------log-in-side-bar--------------*/
.logo a{
    font-weight: 600;
    color: #fff;
}
.logo a:visited{
    font-weight: 600;
    color: #fff;
}
.side-big-heading{
    font-weight: 800;
    color: #fff;
    font-size: 1.7rem;
    margin: 46% 0 5%;
    text-align: center;
}
.primary-big-text{
    color: #fff4ef;
    font-weight: 500;
    text-align: center;
}
/*---------------login-btn------------------*/
a.loginbtn{
    text-decoration: none;
    color: #fff;
    width: 70%;
    font-weight: 500;
    display: inline-block;
    margin: 7% 15%;
    text-align: center;
    border: 2px solid #eff0ff;
    border-radius: 24px;
    padding: 3% 0;
}
a.loginbtn:hover{
    color: #ee4e2e;
    background-color: #fff;
}
/*-------------signup-box---------------*/
.big-heading{
    font-weight: 800;
    font-size: 2rem;
    color: #ee4e2e;
}
.social-media-platform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-platform a{
    color: #0a064b;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    border: 1px solid #e0e3e2;
    margin: 12%;
    padding: 13%;
}
/*--------------progress bar-------------*/
.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
    width: 70%;
}
.progress-bar .stage{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-bar .tool-tip{
    color: #ff7337;
    font-weight: 600;
}
.stageno{
    margin: 6% 0;
    padding: 3% 7%;
    border-radius: 50%;
    background-color: #f5f5f9;
}
/*-------------signup-form-content------------------*/
.button-container{
    display: flex;
    align-items: center;
    margin: 4% 0;
}
.text-fields{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2%;
    margin: 0 2%;
    width: 46%;
    border-radius: 4px;
    color: #84848d;
}
input{
    border: none;
    outline: none;
    background: inherit;
    color: #84848d;
    width: 200%;
    margin-left: 4%;
    font-size: 1rem;
}
.signup-form-content{
    width: 100%;
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field,input::placeholder{
    background-color: #fff;
    color: #84848d;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(images/bx-cake.svg) no-repeat;
    width: 20px;
    height: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}
/*----------------Ho va ten---------------------*/
.text-fields.name:after{
    content: 'Họ và tên';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -184px;
    width: 334px;
    color: #ee4e2e;
    top: -30px;
}
/*-----------------so dien thoai------------------*/
.text-fields.phone:after{
    content: "Số điện thoại";
    background-color: #fff;
    color: #ee4e2e;
    position: relative;
    padding: 0 4%;
    width: 400px;
    left: -175px;
    top: -30px;
}
/*---------------------ngay sinh-----------------*/
.text-fields.dob:after{
    content: 'Ngày sinh';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -179px;
    width: 342px;
    color: #ee4e2e;
    top: -30px;
}
/*-----------------nguoi-dung-------------------*/
.user-type-selection{
    display: flex;
    align-items: center;
    margin-left: 4%;
    width: 100%;
}
.field-heading{
    color: #ee4e2e;
    width: 28%;
}
.user-type-selection label{
    margin: 0 2%;
    display: flex;
    align-items: center;
    color: #84848d;
    width: 20%;
}
input[type="radio"]{
    accent-color: #ee4e2e;
    margin-right: 6%;
}
.pagination-btns{
    display: flex;
    justify-content: center;
    margin: 3% 0;
    padding:0 4%;
}
/*---------------pagination---------------------*/
.nextPage, .previousPage{
    background-color: #ff7337;
    color: #fff;
    width: 45%;
    cursor: pointer;
    padding: 2%;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
}
.nextPage:hover, .previousPage:hover{
    background-color: #ee4d2d;
}

/*----------------Page 2-----------------*/
.stage2-content{
    width: 760px;
}
/*------------------dia chi--------------------*/
.text-fields.address:after{
    content: 'Địa chỉ';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -210px;
    width: 200px;
    color: #ee4e2e;
    top: -30px;
}
/*------------------email--------------------*/
.text-fields.email:after{
    content: "Email ID";
    background-color: #fff;
    color: #ee4e2e;
    position: relative;
    padding: 0 4%;
    width: 200px;
    left: -212px;
    top: -30px;
}
/*------------------mat khau, xac nhan mat khau--------------------*/
.text-fields.password:after, .text-fields.confirmPassword:after{
    content: "Tạo mật khẩu";
    background-color: #fff;
    color: #ee4e2e;
    position: relative;
    padding: 0 4%;
    width: 492px;
    left: -164px;
    top: -30px;
}

.text-fields.confirmPassword:after{
    content: "Xác nhận mật khẩu";
    width: 750px;
    left: -135px;
}

/*------------------Page 3--------------------*/
/*------------------dieu khoan dich vu--------------------*/
.tc-container input{
    width: 4%;
    margin-left: 4%;
    accent-color: #ee4e2e;
}
.tc a{
    text-decoration: none;
    color: #ee4e2e;
}
label .tc{
    margin-left: 4%;
}
/*-----------------trang dang nhap------------------*/
.login-form-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-contents .text-fields{
    margin: 3% 2%;
    padding: 3%;
    width: 70%;
}
.login-form-contents .text-fields.email:after{
    content: "Nhập Email";
    width: 392px;
    left: -295px;
    top: -34px;
}
.login-form-contents .text-fields.password:after{
    content: "Nhập mật khẩu";
    left: -275px;
    top: -33px;
}

/* Alert msg */
.alert {
    padding: 20px;
    background-color: #ef2213;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }